<h4>Formularios <small>template</small></h4>
<hr>
<form novalidate="" (ngSubmit)="guardar(forma)" #forma="ngForm">

  <div>

    <div
          class="form-group row "
          [ngClass]="{'has-danger': (nombre.errors?.required || nombre.errors?.minlength) && nombre.touched }">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input
                class="form-control"
                type="text"
                name="nombre"
                minlength="5"
                [(ngModel)]="usuario.nombre"
                placeholder="Nombre"
                required
                #nombre="ngModel">
          <div class="form-control-feedback"  *ngIf="nombre.errors?.required">El campo es requerido</div>
        <div  class="form-control-feedback" *ngIf="nombre.errors?.minlength">Mínimo {{ nombre.errors.minlength.requiredLength }} caracteres</div>
      </div>
    </div>

    <div class="form-group row " [ngClass]="{'has-danger': apellido.errors?.required && apellido.touched }">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input
              class="form-control"
              type="text"
              [(ngModel)]="usuario.apellido"
              name="apellido"
              required

              placeholder="Apellido"
              #apellido="ngModel"
              >

        <div class="form-control-feedback" *ngIf="apellido.errors?.required">El campo es requerido</div>

      </div>
    </div>

  </div>

  <div class="form-group row" [ngClass]="{'has-danger':( email.errors?.required || email.errors?.pattern) && email.touched }">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input
          class="form-control"
          type="email"
          [(ngModel)]="usuario.email"
          name="correo"
          required
          #email = "ngModel"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
          placeholder="Correo electrónico">
        <div  class="form-control-feedback" *ngIf="email.errors?.required">  El campo es requerido</div>
        <div class="form-control-feedback" *ngIf="email.errors?.pattern"> Debe ser un correo válido</div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Pais</label>
    <div class="input-group col-md-8">
      <select
              class="form control"
              [(ngModel)]="usuario.pais"
              name="pais" >
        <option value="">Seleccione un pais</option>
        <option *ngFor="let pais of paises" [value]="pais.codigo">{{pais.nombre}}</option>

      </select>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Sexo</label>
    <div class="input-group col-md-8">

      <label *ngFor="let sex of sexos" class="custom-control custom-radio">
        <input
                [(ngModel)]="usuario.sexo"
                name="sexo"
                type="radio"
                [value]="sex"
                class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description"> {{sex}} </span>
      </label>

      <!--
      <label class="custom-control custom-radio">
          <input
                  [(ngModel)]="usuario.sexo"
                  name="sexo"
                  type="radio"
                  value="Femenino"
                  class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Femenino</span>
        </label>
        -->
    </div>



  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label"></label>
    <div class="col-md-8"></div>
        <label class="custom-control custom-checkbox">
          <input
                  type="checkbox"
                  [(ngModel)]="usuario.acepta"
                  name="acepta"
                  required
                  class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Acepta</span>
        </label>

  </div>


  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <!--[disabled]="!forma.valid"-->

      <button
              type="submit"
              class="btn btn-outline-primary"
              [disabled]="!forma.valid"
              >
        Guardar
      </button>
    </div>
  </div>

</form>

<pre>
  {{usuario | json}}
</pre>
